streamlit>=1.35.0
faiss-cpu>=1.7.4
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-google-genai==0.0.9
sentence-transformers
huggingface-hub
google-auth
numpy
langdetect
whoosh
requests
torch
gdown
